@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --font-sans: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono: 'JetBrains Mono', monospace;
}

:root {
    --color-background: #09090b;
    /* Zinc 950 - Dark Geeky Background */
    --color-text: #e4e4e7;
    /* Zinc 200 - Readable Light Text */
}

html {
    font-family: var(--font-sans);
    background-color: var(--color-background);
    color: var(--color-text);
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar for Geeky Vibe */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #18181b;
}

::-webkit-scrollbar-thumb {
    background: #3f3f46;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #52525b;
}